/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 10, 2016, 2:32:55 PM
    Author     : Balaji Gopalakrisnan
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .125s all ease;
}

body {
  background: #9CE539;
  font-family: "Helvetica Neue", Helvetica, Arial, San Serif;
  font-weight: 300;
  margin: 40px;
  text-align : center;
  color: rgba(0,0,0,.4);
}

.wrap {
  max-width: 1000px;
  margin: 0 auto;
}

h3 {
  font-weight: 300;
  line-height: 1em;
  background: transparent;
  font-size: 2.5em;
  color: rgba(0,0,0,.8)
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
   text-decoration: underline;
}